.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .article {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    flex-direction: column;
  }
  
  
  .img {
    width: fit-content;
    height: 300px;
  }

  .p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    padding:20px;
  }

  .button {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }

  .button a {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  .button:hover,
  .button:focus,
  .button:active {
    color: #0070f3;
    border-color: #0070f3;
  }