.nav {
  height: 50px;
  margin: 0;
  padding: 10px;
  width: 100vw;
  background: #07070a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
  color: white;
  text-decoration: none;
}

.nav ul li a:hover{
  color: #0070f3;
}